<th:block th:fragment="modal-edit-emp-more">
	<form id="formEditEmpMore" class="p-3 mb-5" th:object="${empl}" method="post">
		<div class="modal" id="modalEditEmpMore" tabindex="-1" th:classappend="${modalOpened} ? 'show d-block' : ''"
			th:attr="aria-modal=${modalOpened} ? 'true' : null" th:attrappend="role=${modalOpened} ? 'dialog' : null"
			th:style="${modalOpened} ? 'display: block;' : ''">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Editar empleado</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<input type="hidden" id="idEmpMore" th:field="*{id}">
						<div class="mb-3">
							<label for="active" class="form-check-label">Activo</label>
							<input type="checkbox" th:field="*{enabled}" id="activeEmpMore" class="form-check-input"
								aria-describedby="activeEmpMore" />
						</div>
						<div class="mb-3">
							<label th:for="name" class="form-label">Nombre</label>
							<input id="nameEmpMore" type="text" class="form-control" th:field="*{name}"
								aria-describedby="nameEmpMore" />
							<div class="alert alert-danger d-none" id="error-name"></div>
						</div>
						<div class="mb-3">
							<label th:for="surname" class="form-label">Apellidos</label>
							<input id="surnameEmpMore" type="text" class="form-control" th:field="*{surname}"
								aria-describedby="surnameEmpMore" />
							<div class="alert alert-danger d-none" id="error-surname"></div>
						</div>
						<div class="mb-3">
							<label th:for="department" class="form-label">Departamento</label>
							<select class="form-select" th:field="*{idDept}" id="department">
								<option th:each="dept : ${departments}" th:value="${dept.id}" th:text="${dept.name}">
								</option>
							</select>
							<div class="alert alert-danger" th:if="${#fields.hasErrors('idDept')}"
								th:errors="*{idDept}">
							</div>
						</div>
						<div class="mb-3">
							<label for="timeStart" class="form-label">Hora de entrada</label>
							<input type="time" class="form-control" th:field="*{timeStart}" id="timeStartEmpMore"
								aria-describedby="timeStartEmpMore" />
							<div class="alert alert-danger" th:if="${#fields.hasErrors('timeStart')}"
								th:errors="*{timeStart}">
							</div>
						</div>
						<div class="mb-3">
							<label for="timeEnd" class="form-label">Hora de salida</label>
							<input type="time" class="form-control" th:field="*{timeEnd}" id="timeEndEmpMore"
								aria-describedby="timeEndEmpMore" />
							<div class="alert alert-danger" th:if="${#fields.hasErrors('timeEnd')}"
								th:errors="*{timeEnd}">
							</div>
						</div>
						<div class="mb-3">
							<label for="timeStart2" class="form-label">Hora de entrada</label>
							<input type="time" class="form-control" th:field="*{timeStart2}" id="timeStartEmpMore2"
								aria-describedby="timeStartEmpMore2" />
							<div class="alert alert-danger" th:if="${#fields.hasErrors('timeStart2')}"
								th:errors="*{timeStart2}">
							</div>
						</div>
						<div class="mb-3">
							<label for="timeEnd2" class="form-label">Hora de salida</label>
							<input type="time" class="form-control" th:field="*{timeEnd2}" id="timeEndEmpMore2"
								aria-describedby="timeEndEmpMore2" />
							<div class="alert alert-danger" th:if="${#fields.hasErrors('timeEnd2')}"
								th:errors="*{timeEnd2}">
							</div>
						</div>
						<div class="mb-3">
							<label for="name" class="form-label">Usuario</label>
							<input type="text" class="form-control" th:field="*{username}"
								aria-describedby="usernameEmpMore" />
							<div class="alert alert-danger" th:if="${#fields.hasErrors('username')}"
								th:errors="*{username}">
							</div>
						</div>
						<div class="mb-3">
							<label for="password" class="form-label">Contraseña</label>
							<input type="password" class="form-control" th:field="*{password}"
								aria-describedby="passwordEmpMore" />
							<div class="alert alert-danger" th:if="${#fields.hasErrors('password')}"
								th:errors="*{password}">
							</div>
						</div>
						<div class="mb-3">
							<label for="password2" class="form-label">Confirmar contraseña</label>
							<input type="password" class="form-control" th:field="*{password2}"
								aria-describedby="passwordEmpMore2" />
							<div class="alert alert-danger" th:if="${#fields.hasErrors('password2')}"
								th:errors="*{password2}">
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" id="btnCloseEmpMore"
							data-bs-dismiss="modal">Cerrar</button>
						<button type="button" class="btn btn-primary" id="btnSaveEmpMore">Guardar
							cambios</button>
					</div>
				</div>
			</div>
		</div>
	</form>
</th:block>